*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
.env
.env.*
.versions/
*.lock
*.log
*.sw[mnpcod]
*.tmp
*.tmp.*
*~
$RECYCLE.BIN/
log.txt
node_modules/
Thumbs.db
UserInterfaceState.xcuserstate
