# Logo
.stencil/
loader/

# Build outputs
build/
dist/

# Tests
coverage/

# Rush files
**/.rush/temp/
common/autoinstallers/*/.npmrc
common/changes/
common/config/
common/deploy/
common/scripts/
common/temp/

# TypeScript
*.d.ts
*.tsbuildinfo

# ESlint
.eslintcache

# Misc
.cache
.DS_Store
.env*
*log
node_modules/
Thumbs.db
