.logo {
  display: flex;
  width: attr(data-width);
  align-items: center;
  line-height: 0;
}

.logo .pictogram {
  width: 15%;
  margin-right: 5%;
}

.logo .logotype {
  width: 80%;
}

.logo--mc:not(.logo--short) .pictogram {
  width: 10%;
  margin-right: 2.5%;
}

.logo--mc:not(.logo--short) .logotype {
  width: 87.5%;
}
