/**
 * The Contactlab Marketing Cloud official color.
 **/
$colors: (
  'accent100': #bae1f9,
  'accent200': #8ccdf6,
  'accent300': #5eb9f2,
  'accent400': #30a5ef,
  'accent500': #0391ec,
  'accent600': #0072bc,
  'accent700': #025d97,
  'accent800': #02426c,
  'accent900': #012841,
  'base100': #f7fcff,
  'base200': #deebf4,
  'base300': #c3d4e0,
  'base400': #9cb0bf,
  'base500': #7e96a8,
  'base600': #5b768c,
  'base700': #36546d,
  'base800': #1d3344,
  'base900': #001420,
  'info': #0391ec,
  'success': #53c518,
  'warning': #ffb200,
  'error': #fc192f,
  'white': #fff,
  'black': #000,
  'fluo-base300': #e9e8ff,
  'fluo-base600': #b4afff,
  'fluo-base900': #7168ff,
  'fluo-accent300': #e1f9ef,
  'fluo-accent600': #9bebd0,
  'fluo-accent900': #00c9bd
);

@function get-color($key) {
  @if map-has-key($colors, $key) {
    @return map-get($colors, $key);
  } @else {
    @warn 'Unfortunately, no value could be retrieved from `#{$colors}`. ' + 'Please make sure it is defined in `$colors` map.';

    @return null;
  }
}

/**
 * The elevations defined inside the Design System.
 **/
$z1: 0 1px 3px 0 rgba(0, 20, 32, 0.12);
$z2: 0 3px 6px 0 rgba(0, 20, 32, 0.04), 0 3px 6px 0 rgba(0, 20, 32, 0.12);
$z3: 0 6px 6px 0 rgba(0, 20, 32, 0.09), 0 10px 20px 0 rgba(0, 20, 32, 0.13);
$z4: 0 10px 10px 0 rgba(0, 20, 32, 0.05), 0 14px 28px 0 rgba(0, 20, 32, 0.16);
$z5: 0 19px 38px 0 rgba(0, 20, 32, 0.16), 0 15px 12px 0 rgba(0, 20, 32, 0.12);
$accent-z1: 0 1px 3px 0 rgba(3, 145, 236, 0.12);
$accent-z2: 0 3px 6px 0 rgba(3, 145, 236, 0.04),
  0 3px 6px 0 rgba(3, 145, 236, 0.12);
$accent-z3: 0 6px 6px 0 rgba(3, 145, 236, 0.09),
  0 10px 20px 0 rgba(3, 145, 236, 0.13);
$accent-z4: 0 10px 10px 0 rgba(3, 145, 236, 0.05),
  0 14px 28px 0 rgba(3, 145, 236, 0.16);
$accent-z5: 0 19px 38px 0 rgba(3, 145, 236, 0.16),
  0 15px 12px 0 rgba(3, 145, 236, 0.12);

$elevations: (
  'z1': $z1,
  'z2': $z2,
  'z3': $z3,
  'z4': $z4,
  'z5': $z5,
  'accent-z1': $accent-z1,
  'accent-z2': $accent-z2,
  'accent-z3': $accent-z3,
  'accent-z4': $accent-z4,
  'accent-z5': $accent-z5
);

@function get-elevation($key) {
  @if map-has-key($elevations, $key) {
    @return map-get($elevations, $key);
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$elevations}`. "
       + "Please make sure it is defined in `$elevations` map.";

    @return null;
  }
}

/**
 * The elevation transition defined inside the Design System.
 **/
$elevation-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);

/**
 * Import Montserrat from Google Font CDN.
 * Montserrat is the font used in the Contactlab Marketing Cloud platform.
 **/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/**
 * 1. Use the official font and fallback to the default OS font.
 * 2. Use a comfortable rem measure: 1rem is equivalent to 10px (10px/16px = 62.5%)
      https://snook.ca/archives/html_and_css/font-size-with-rem
 **/
html {
  font-family: Montserrat, system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu,
    Cantarell, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji'; /* 1 */
  font-size: 62.5%; /* 2 */
}

/**
 * Use the default monospace user interface font in all browsers.
 **/
code,
kbd,
samp,
pre {
  font-family: Menlo, Consolas, 'Roboto Mono', 'Ubuntu Monospace', 'Noto Mono',
    'Oxygen Mono', 'Liberation Mono', monospace, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/**
 * Set typography rules for titles, sub-titles and paragraphs.
 **/
body {
  color: get-color('base900');
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

a,
a:link,
a:visited {
  color: get-color('accent500');
  text-decoration: none;
}

a:hover,
a:active {
  color: get-color('accent700');
}

h1,
h2,
h3,
h4,
h5,
h6,
.hero-text {
  color: get-color('base800');
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

.hero-text {
  margin-bottom: 2.6rem;
  font-size: 6.4rem;
  line-height: 1em;
}

h1 {
  margin-bottom: 2.4rem;
  font-size: 3rem;
  line-height: 1.2em;
}

h2 {
  margin-bottom: 2.2rem;
  font-size: 2.8rem;
  line-height: 1.2em;
}

h3 {
  margin-bottom: 2rem;
  font-size: 2.6rem;
  line-height: 1.2em;
}

h4 {
  margin-bottom: 1.8rem;
  font-size: 2.4rem;
  line-height: 1.4em;
}

h5 {
  margin-bottom: 1.6rem;
  font-size: 2.2rem;
  line-height: 1.4em;
}

h6 {
  margin-bottom: 1.4rem;
  font-size: 2rem;
  line-height: 1.4em;
}

.subheading-1,
.subheading-2,
.subheading-3 {
  color: get-color('base700');
  font-weight: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.3em;
}

.subheading-1 {
  display: block;
  margin-bottom: 1.6rem;
  font-size: 2.2rem;
}

.subheading-2 {
  display: block;
  margin-bottom: 1.4rem;
  font-size: 2rem;
}

.subheading-3 {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
}

p {
  margin-bottom: 1.4rem;
}

mark {
  border-radius: 2px;
  padding: 1.5px 4px;
  color: get-color('white');
  background-color: get-color('accent500');
}

small {
  color: get-color('base600');
  font-size: 1.2rem;
  line-height: 1.4em;
}

/**
 * Change the text color when the content is highlighted.
 */
*::selection {
  color: get-color('white');
  background: rgba(3, 145, 236, 0.7);
}

/**
 * Restrict sizing to the page width in all browsers.
 */
iframe,
img,
input,
select,
textarea {
  max-width: 100%;
  height: auto;
}

/**
 * 1. Change the inconsistent appearance in all browsers.
 * 2. Add typography inheritance in all browsers.
 */
button,
input,
select,
textarea {
  border: 1px solid WindowFrame; /* 1 */
  padding: 0.25em 0.375em; /* 1 */
  color: inherit; /* 1 */
  background-color: transparent; /* 1 */
  font: inherit; /* 2 */
  letter-spacing: inherit; /* 2 */
}

/**
 * Change the inconsistent appearance in all browsers.
 */
select {
  border-radius: none;
  padding-right: 1em;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: no-repeat right center / 1em;
}

/**
 * Change the inconsistent appearance in all browsers.
 */
select:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E");
}
