/**
 * The base font-size is set at 62.5% for having the convenience
 * of sizing rems in a way that is similar to using px: 1.6rem = 16px
 */
html {
  font-size: 62.5%;
}

/**
 ********************
 * Typography rules *
 ********************
 */

/**
 * Import Montserrat from Google Font CDN.
 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  color: #001420; /* color base900 */
  font: normal normal 1.4em/1.5 Montserrat;
  letter-spacing: 0.01em;
}

a {
  color: #0391ec; /* color accent500 */
  text-decoration: none;
}

a:focus,
a:hover {
  color: #0072bc; /* color accent600 */
}

h1,
h2,
h3,
h4,
h5,
h6,
.hero-text {
  margin-top: 0;
  color: #1d3344; /* color base800 */
  font-weight: bold;
  letter-spacing: -0.04rem;
}

.hero-text {
  margin-bottom: 2.6rem;
  font-size: 6.4rem;
  line-height: 1em;
}

h1 {
  margin-bottom: 2.4rem;
  font-size: 3rem;
  line-height: 1.2em;
}

h2 {
  margin-bottom: 2.2rem;
  font-size: 2.8rem;
  line-height: 1.2em;
}

h3 {
  margin-bottom: 2rem;
  font-size: 2.6rem;
  line-height: 1.2em;
}

h4 {
  margin-bottom: 1.8rem;
  font-size: 2.4rem;
  line-height: 1.4em;
}

h5 {
  margin-bottom: 1.6rem;
  font-size: 2.2rem;
  line-height: 1.4em;
}

h6 {
  margin-bottom: 1.4rem;
  font-size: 2rem;
  line-height: 1.4em;
}

.subheading-1,
.subheading-2,
.subheading-3 {
  color: #36546d; /* color base700 */
  font-weight: normal;
  text-rendering: optimizeLegibility;
  line-height: 1.3em;
}

.subheading-1 {
  display: block;
  margin-bottom: 1.6rem;
  font-size: 2.2rem;
}

.subheading-2 {
  display: block;
  margin-bottom: 1.4rem;
  font-size: 2rem;
}

.subheading-3 {
  display: block;
  margin-bottom: 1.2rem;
  font-size: 1.8rem;
}

p {
  margin-bottom: 1.4rem;
}

mark {
  border-radius: 2px;
  padding: 1.5px 4px;
  color: #fff;
  background-color: #0391ec; /* color accent500 */
}

small {
  color: #5b768c; /* color base600 */
  font-size: 1.2rem;
  line-height: 1.4em;
}

/**
 * Highlight the body text on selection.
 */
*::selection {
  color: #fff;
  background: rgba(3, 145, 236, 0.8);
}
