@import './colors.css';

*::selection {
  color: var(--color-white);
  background: rgba(3, 145, 236, 0.7);
}

a {
  &:link,
  &:visited {
    color: var(--color-accent500);
    text-decoration: none;
  }

  &:hover,
  &:active {
    color: var(--color-accent700);
  }
}
