html {
  @media #{$to-small} {
    font-size: 50%;
  }
}

body {
  --mc-body-foreground: #{colors('base100')};
  --mc-body-background: #000;
  overflow: hidden;
}

.landing {
  width: 100vw;
  height: 100vh;
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.content {
  display: grid;
  max-width: 140rem;
  height: 100%;
  margin: 0 auto;
  padding: 4rem;
  position: relative;
  grid-template-rows: auto 0.5fr repeat(2, min-content) 1fr auto;
  grid-row-gap: 3.2rem;
  z-index: 1;
}
